<h1>Viewing Party PRO</h1>

<% if !session[:user_id] %>
  <%= button_to "Create New User", "/register", method: :get, local: true %>
<% else %>
    <h2>Existing Users:</h2>
    <% @users.each do |user| %>
      <p><%= user.email %></p>
      <br>
    <% end %>
<% end %>
